html{
    padding:0px;
    margin:0px;
}

body{
    background-color:#ffffff;
    margin:0px;
    font-family: 'Signika', sans-serif;
    height:100%;
}

h1{
    margin:0px;
    font-family: 'Signika', sans-serif;
}

h1.a{
    text-decoration:none;
}

h3{
    margin: 0px;
    margin-bottom: 15px;
}

a{
    text-decoration:none;
}

#header-title{
    padding:25px;
    padding-left:20%;
    color:#155415;
}

.header{
    height:100px;
    width:100%;
    background-color:#DADADA;
    color:#155415;
}

#logo{
    float:left;
    height:80%;
    padding:0px;
    padding-left:14%;
    padding-top:12px;
    margin:0px;
}

.page{
    height:100%;
    margin-left:13%;
    margin-right:13%;
}

#content{
    padding:10px;
}

#userContent{
    width:500px;
    height:200px;
}

#gccontentchart{
    width:80%;
    height:450px;
}

#contigslisttable{

}

#awayFromAverageThreshold{
    width:15%;
}

#gcWindowSize{
    width:15%;
}

#orfLengthThreshold{
    width:15%;
}