<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<td class="QualityParameters" th:fragment="qualityparameters">
    <form action="#" th:action="@{/list}" th:object="${userparameters}" method="post">
        <p>Standard deviations away from the average of the GC Content % you wish to highlight:<br />
            <input type="text" th:field="*{awayFromAverageThreshold}" th:value="*{awayFromAverageThreshold}"/></p>
        <p>The size of the GC Content windows to analyse:<br/>
            <input type="text" th:field="*{gcWindowSize}" th:value="*{gcWindowSize}" /></p>
        <p>How long should an Open Reading Frame location be to be considered? ('0' will allow any length):<br/>
            <input type="text" th:field="*{orfLengthThreshold}" th:value="*{orfLengthThreshold}" /></p>
        <p><input type="submit" value="Update Parameters" /></p>
    </form>
</td>
</body>
</html>