<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<td class="QualityParameters" th:fragment="qualityparameters">
    <form action="#" th:action="@{/list}" th:object="${userparameters}" method="post">
        <p>Standard deviations away from the average of the GC Content % you wish to highlight:<br />
            <input type="text" th:field="*{awayFromMeanThreshold}" th:value="*{awayFromMeanThreshold}"/></p>
        <p>The size of the GC Content windows to analyse:<br/>
            <input type="text" th:field="*{gcWindowSize}" th:value="*{gcWindowSize}" /></p>
        <p>How long should an Open Reading Frame location be to be considered? ('0' will allow any length):<br/>
            <input type="text" th:field="*{orfLengthThreshold}" th:value="*{orfLengthThreshold}" /></p>
        <p><input type="submit" value="Update Parameters" /></p>
    </form>
</td>

<div th:id="'inspectbox ' + ${iterationInfo.index}" th:fragment="inspectbox" style="display:none; background:#dadada;">
    <div class="parambox" >
        <form action="#" th:action="@{/result}" th:object="${contiguousread}" method="post">
            <table><tr><td>
            <input type="hidden" th:name="contigInformation" th:value= "${currentcontig.contigInformation}" />
            <input type="hidden" th:name="contigLength" th:value= "${currentcontig.contigLength}" />
            <input type="hidden" th:name="contigContext" th:value= "${currentcontig.contigContext}" />
            <h3>Inspection Parameters</h3>
            </td></tr><tr><td>
            Mean threshold in standard deviations, for GC Content percentage:
            </td></tr><tr>
            <td>
                <input type="text" th:field="*{awayFromMeanThreshold}" th:value="*{awayFromMeanThreshold}"/>
            </td>
            <td th:if="${#fields.hasErrors('awayFromMeanThreshold')}" th:errors="*{awayFromMeanThreshold}">Away from mean error</td>
            </tr>
            <tr>
                <td>The size of the GC Content windows:</td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="*{gcWindowSize}" th:value="*{gcWindowSize}" />
                </td>
            <td th:if="${#fields.hasErrors('gcWindowSize')}" th:errors="*{gcWindowSize}">GC Window size error</td>
            </tr>
            <tr>
                <td>How long should an Open Reading Frame location be to be considered? ('0' will allow any length):</td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="*{orfLengthThreshold}" th:value="*{orfLengthThreshold}" />
                </td>
                <td th:if="${#fields.hasErrors('orfLengthThreshold')}" th:errors="*{orfLengthThreshold}">ORF Length error</td>
            </tr><tr><td>
            <input id="inspectloadbutton" type="submit" value="Inspect" onclick="loadingclick(this.id);"/>

            </td></tr></table>
        </form>
    </div>
</div>

</body>
</html>