<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>KHIMETA - Metagenome Quality Toolkit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet" type="text/css" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="../js/plotly-latest.min.js"
            th:href="@{/js/plotly-latest.min.js}"></script>
    <script src="../js/gc-chart.js"
            th:href="@{/js/gc-chart.js}"></script>
    <script src="../js/orf-chart.js"
            th:href="@{/js/orf-chart.js}"></script>
    <script src="../js/utilities.js"
            th:href="@{/js/utilities.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="page">
    <div id="content">
        <div><p><a th:href="@{/}" >Submit other data.</a></p></div>
        <div><p><a th:href="@{/list}" method="POST">Back to contiguous reads list.</a></p></div>
        <div th:inline="text" ><h2>
            [[${contiguousread.contigInformation}]]
        </h2>
            <p>
                Contig Length: [[${contiguousread.contigLength}]]
            </p>
        </div>
        <div id="gccontentchart"></div>
        <canvas id="orfcanvas" width="500" height="500" style="border:1px solid #000000;">
        </canvas>
    </div>
</div>

<script th:inline="javascript">
/* Setup data needed */
/*<![CDATA[*/
    var windowdata = [[${gcResult.gcPercentages}]];
    var windownums = [[${gcResult.gcWindows}]];
    var gccontentmean = [[${gcResult.gcAverage}]];
    var gcColours = [[${gcResult.gcBarColours}]];
    var gcMeanForAllWindows = [[${gcResult.gcMeanForAllWindows}]];
    var windowSize = [[${contiguousread.gcWindowSize}]];
    var contigLength= [[${contiguousread.contigLength}]];
    var contigName = [[${contiguousread.contigInformation}]];
    var contigContent = [[${contiguousread.contigContext}]];
    var orfData = [[${orfResult}]];

    function init(){
        drawGcChart();
        setupOrfChart();
    }

    init();
/*]]>*/

</script>
</body>
</html>